<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Web" />
  </extensions>
  <variable name="logDirectory" value="${basedir}/logs" />
  <variable name="layout" value="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ} | ${level} | ${logger} | ${mdlc:item=TraceId} | ${message} | ${when:when=length('${exception}')&gt;0:Inner=${newline}}${exception:format=tostring}" />
  <targets async="true">
    <target encoding="utf-8" xsi:type="File" name="loginfo" fileName="${logDirectory}/info-${shortdate}.log" layout="${layout}" maxArchiveFiles="10" />
    <target encoding="utf-8" xsi:type="File" name="logerror" fileName="${logDirectory}/errors-${shortdate}.log" layout="${layout}"  maxArchiveFiles="10" />
    <target encoding="utf-8" xsi:type="File" name="logdb" fileName="${logDirectory}/db-${shortdate}.log" layout="${layout}" maxArchiveFiles="10" />
    <target encoding="utf-8" xsi:type="Console" name="logconsole" layout="${layout}" />
    <target xsi:type="Null" name="discard" formatMessage="false" />
  </targets>
  <rules>
    <logger name="Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker" minlevel="Trace" writeTo="discard" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.Database.Command*" minlevel="Info" writeTo="logdb" final="true" />
    <logger name="*" minlevel="Info" writeTo="loginfo,logconsole" />
    <logger name="*" minlevel="Error" writeTo="logerror" />
  </rules>
</nlog>
